
<!-- {{ bookingForm.value | json }}

{{ bookingForm.pristine }}

{{ bookingForm.dirty }} -->

<p> {{ bookingForm.errors | json }}  </p>

  <button mat-raised-button color="primary" type="button" (click) = "addPassport()"> Add Passport </button>


  <button mat-raised-button color="primary" type="button" (click) = "deletePassport()"> Delete Passport </button>



<form [formGroup]="bookingForm" >


  <mat-form-field class="example-full-width" *ngIf="bookingForm.get('passport')">

    <mat-label>passport </mat-label>

    <input type="text" matInput  formControlName ="passport"  placeholder="Room Id">


  </mat-form-field>

  <mat-form-field class="example-full-width">

    <mat-label>Room Id </mat-label>

    <input type="text" matInput  formControlName ="roomId"  placeholder="Room Id">


  </mat-form-field>



  <mat-form-field class="example-full-width">

    <mat-label>Guest Name </mat-label>
       <input type="text" matInput  formControlName ="guestName"  placeholder="guestName">



       <!-- {{ bookingForm.get('guestName')?.errors | json}} -->

   <mat-error *ngIf="bookingForm.get('guestName')?.hasError('minlength')">

       Guest Name should be  minimum 5 Character
   </mat-error>

  </mat-form-field>


  <mat-form-field class="example-full-width">

    <mat-label>Guest Email </mat-label>

    <input type="text" matInput  formControlName ="guestEmail"  placeholder="Guest Email">


  </mat-form-field>



  <mat-form-field class="example-full-width">

    <mat-label>Mobile Number </mat-label>

    <input type="text" matInput  formControlName ="mobileNumber"  placeholder="Mobile Number">


  </mat-form-field>







  <mat-form-field class="example-full-width">

    <mat-label>Booking Amount </mat-label>

    <input type="text" matInput  formControlName ="bookingAmount"  placeholder="booking Amount">


  </mat-form-field>


  <mat-form-field class="example-full-width">

    <mat-label>CheckinDate </mat-label>

    <input matInput [matDatepicker]="picker" formControlName="checkinDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>


  </mat-form-field>



  <mat-form-field class="example-full-width">

    <p> {{ bookingForm.get('checkoutDate')?.errors | json }}  </p>

    <mat-label>CheckoutDate </mat-label>

    <input matInput [matDatepicker]="picker1" formControlName="checkoutDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>


  </mat-form-field>


  <mat-form-field class="example-full-width">

    <mat-label>Booking Date </mat-label>

    <input matInput [matDatepicker]="picker2" formControlName="bookingDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>


  </mat-form-field>


<div formGroupName ="address">



  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>


        <mat-panel-title>

          Address
        </mat-panel-title>

      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Address Line1</mat-label>
        <input type="text" matInput  formControlName ="addressLine1"  placeholder="addressLine1">
      </mat-form-field>


      <mat-form-field>

        <mat-label>Address Line2 </mat-label>

        <input type="text" matInput  formControlName ="addressLine2"  placeholder="addressLine2">


      </mat-form-field>


      <mat-form-field>

        <mat-label>City </mat-label>

        <input type="text" matInput  formControlName ="city"  placeholder="city">


      </mat-form-field>


      <mat-form-field>

        <mat-label>State </mat-label>

        <input type="text" matInput  formControlName ="state"  placeholder="state">


      </mat-form-field>



      <mat-form-field>

        <mat-label>Country </mat-label>

        <input type="text" matInput  formControlName ="country"  placeholder="country">


      </mat-form-field>



      <mat-form-field>

        <mat-label>Zip Code </mat-label>

        <input type="text" matInput  formControlName ="zipCode"  placeholder="zipCode">


      </mat-form-field>









    </mat-expansion-panel>
  </mat-accordion>






</div>


<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>


      <mat-panel-title>

       Guess
      </mat-panel-title>

    </mat-expansion-panel-header>



<div formArrayName="guests">

  <div *ngFor="let guest of guest.controls; let i = index">

    <div [formGroupName] ="i">


    <mat-form-field>

      <mat-label>Guest Name </mat-label>



      <input type="text" matInput  formControlName ="guestName"  placeholder="guestName">







    </mat-form-field>


    <mat-form-field>

      <mat-label>Age </mat-label>

      <input type="text" matInput  formControlName ="age"  placeholder="age">


    </mat-form-field>

  </div>

  <button mat-raised-button color="primary" type="button" (click) = "removeGuest(i)"> Guest Remove </button>

  </div>




</div>

</mat-expansion-panel>
</mat-accordion>



<div>


  <button mat-raised-button color="primary" type="button" (click) = "addGuest()"> Add Guess</button>

</div>


<mat-checkbox class="example-margin" formControlName="tnc">tnc</mat-checkbox>


  <div>


    <button [disabled]="bookingForm.invalid" mat-raised-button color="primary" (click) = "addBooking()"> Book Now</button>

  </div>



</form>
